header.top-bar{
	width: 100%;
	height:80px;
	background-color: #FFF;
	box-shadow:0 4px 5px  rgba(38,38,38,0.18);*/
}
header .header-menu{
	display: block;
	height: 40px;
	float: right;
	margin:20px auto 0;
	line-height: 40px;
	font-size: 17px;
	letter-spacing: 1px; 
}
header .header-menu-nav{
	 
}
header .header-menunav li{
	list-style: none;
	display: inline-block;
	margin-left: 10px; 
}
 header .header-menunav li:first-child{
 	margin-left: 0;
 }
 header .header-menunav li a{
 	color:rgba(38,38,38,0.67);
 	transition: border-bottom 0.3s linear;
 }
 header .header-menunav li a:hover{
 	text-decoration: none; 
 	border-bottom:3px solid rgba(130, 114, 199,0.65); 
 }