.content{
	margin-top: 20px;
}


.side-bar{
	background-color: #fff;
	box-shadow: 0  4px 10px rgba(0,0,0,0.08);
	padding: 20px;	
	margin-bottom: 15px;
}

.side-bar .img-wrap{
	margin:-20px;
	position: relative;
	height: 320px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 70px 0;
	overflow: hidden;
}
.side-bar .img-wrap img{
	max-height: 400px;

}
.side-bar .img-title{
	width: 100%;
	position: absolute;
	bottom:0px;
	background: rgba(0,0,0,0.55);
	box-shadow: 0 -3px 5px rgba(0,0,0,0.55);
}
.side-bar .img-wrap .img-title h2{
	color: rgba(255,255,255,1); ;
	margin-left: 20px;
	font-weight: 100;	
	letter-spacing: 2px;
	
}
.content .side-bar .container img{
	width: 100%;
	margin: auto;
}
.side-bar .user-info{
	margin-top: 30px;
	
}
.user-info p{
	line-height: 27px;
	font-size: 14px;
	letter-spacing: 1px;
}
.user-info .user-name{
	font-weight: bold;
	margin-top: -20px;
	opacity: 0;
}
.side-bar  .user-info i{
	font-size: 16px;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.user-skills .user-skills-title{
	font-size: 18px;
	color:rgba(38,38,38,0.65);
	letter-spacing: 1px;
}
.user-skills p{
	font-size: 0.9em;
	letter-spacing: 1px;
}
.user-skills .user-skills-title i{
	margin-right: 5px;
}.user-skills .progress-bar{
	background-color:rgba(255, 71, 49,1);
}

@media (max-width: 991px){
	.side-bar-wrapper{
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	.side-bar .img-title{
		display: none;
	}
	.side-bar .img-wrap {
		text-align: center;
		overflow: inherit;
		height: 100px;
		margin: 0 auto 120px;
	}
	.side-bar .img-wrap img{
		height: 200px;
		border-radius: 60%;
		margin-bottom: -100px;
	}
	.side-bar .user-info{
		text-align: center;
	}
	.side-bar .user-info p{
		font-size: 1.2em;
	}
	.side-bar .user-info .user-name{
		opacity: 1;
		font-size: 1.3em;
	}
}